@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}

::selection {
  background: #a3e635;
  color: #000;
}